p{
  /* font-family: serif; */
  /* font-family: sans-serif;   */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1rem;
  text-indent: 1rem;

  text-align :justify;
  text-align-last:right;
}

h1{
  font-size: 3rem;
  text-shadow: 0px 5px 2px red;
}

.one{
  font-weight: 400;
  text-decoration: line-through;
}
.two{
  font-weight: 500;
}
.three{
  font-weight: 700;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}
