ul{
  list-style: none;
  background: deepskyblue;
}

a{
  text-decoration: none;
  padding : 20px 0;
  color: white;
  text-align: center;
  border-top: 2px solid white;
  border-bottom: 1px solid white;
}
a:hover{
  background:royalblue;
}

a:last-child{
  border-bottom: none;
}
