div {
  width : 100px;
  height : 100px;
  border : 4px solid red;
  border-radius: 100%;
  margin-bottom: 34px;
  background-image: url("../image/puppy.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

img{
  border: 40px groove orange;

}

.dog{
  border: 30px groove blue;
    border-radius: 100%;
}

.twodog{
  border: 30px dotted red;
    border-radius: 100%;
}

.threedog{
  border: 30px dashed green;
    border-radius: 100%;
}
.fourdog{
  border: 30px double black;
    border-radius: 100%;
}
