html , body , nav, p {
  padding:0;
  margin:0;
  border:0;
}

body {
  max-width: 80%;
  margin:0 auto;


}


img {
  float:right;
  height: 180px;
  width: 210px;

}
p{
  border:2px solid black;
  overflow: auto;
  width:74%;
  float:right;
  height: 400px;

}

nav{
  float:left;
  width:25%;
  height: 400px;
  border:2px solid red;

}
main, nav{
  box-sizing: border-box;
}
