.c1{
  background-color: darkblue
}

.c2{

  background-color:darkcyan;

}

.c3{
  background-color:blue;
}

.c4{
  background-color:cyan;
}

.c5{
  background-color: steelblue;
}

.c6{
  background-color:royalblue;
}

.c7{
  background-color:cadetblue;
}
